* {
  background-color: #727884;
  margin: 0;
  overflow-x: hidden;
}

.spin {
  background-color: #ffe4c4;
  white-space: nowrap;
  height: 250px;
  width: 1000px;
  margin-left: 30vw;
  margin-top: 25vh;
}

.cardWeapon {
  display: inline-block;
  background-color: grey;
  width: 100px;
  height: 100px;
  margin-top: 75px;
  margin-left: 10px;
}

.btn {
  background-color: white;
  width: 100px;
  height: 50px;
}

.btnBody {
  text-align: center;
}
